.brand-details {
  padding: 20px;
  text-align: center;
  margin: 40px 180px;
}

.brand-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transform: skew(-15deg);
  animation: subtleMove 2s ease-in-out infinite alternate;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@keyframes subtleMove {
  0% {
    transform: skew(-15deg) translateX(0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: skew(-15deg) translateX(5px);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
}

.title-underline3 {
  height: 2px;
  background-color: #f39c12;
  margin-bottom: 20px;
  margin-right: 200px;
  width: 102%;
}

.model-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.model-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.model-image {
  width: 60%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.model-name2 {
  font-size: 1.1rem;
  color: #000000;
  position: relative;
  text-decoration: none;
  padding: 10px;
}

.model-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .brand-details {
    margin: 40px 15px;
    padding: 0;
  }

  .brand-title {
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }

  .title-underline3 {
    width: 100%;
    margin: 0 auto 20px auto;
  }

  .model-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .model-card {
    padding: 8px;
  }

  .model-image {
    width: 80%;
  }

  .model-name2 {
    font-size: 1rem;
    padding: 8px;
  }
}
