@import "../../Card/section-header.css";
@import "../../Card/general-brand-card.css";

.brand-details2 {
  padding: 20px;
  text-align: center;
  margin: 40px auto;
  max-width: 1200px;
  box-sizing: border-box;
}

.generic-grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 30px 0;
  justify-content: center;
}

@media (max-width: 768px) {
  .brand-details2 {
    margin: 40px 15px;
    padding: 0;
  }

  .generic-grid2 {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 12px;
  }

 
}
