
.brand-details {
    padding: 20px;
    text-align: center;
    margin: 40px 180px 40px 180px
}


.brand-title {
    font-size: 24px;
    color:black;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
   
}


.title-underline {
    width: 100%;
    height: 2px;
    background-color: #f39c12;
   

}


.model-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}


.model-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}




.model-image {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.model-name {
    font-size: 1.1rem;
    color: #000000;
    position: relative;
   
    padding: 10px;
   
}

.model-name::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease, left 0.3s ease;
}

.model-card:hover .model-name::after {
    width: 100%;
    left: 0;
}