@import "../../Card/section-header.css";
@import "../../Card/general-brand-card.css";

.model-details {
  padding: 20px;
  text-align: center;
  margin: 40px auto;
  max-width: 1200px;
}

.generic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 30px 0;
    justify-content: center;
}

@media (max-width: 768px) {
  .model-details {
    margin: 40px auto;
    padding: 0;
  }

   .generic-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        gap: 12px;
    }
}
