@import '../../Card/section-header.css'; 
@import '../../Card/general-brand-card.css';

.model-details {
    padding: 20px;
    text-align: center;
    margin: 40px 180px;
}



@media (max-width: 768px) {
  .model-details {
    margin: 40px 15px;
    padding: 0;
  }

}