.year-details {
    padding: 20px;
    text-align: center;
    margin: 40px 180px 
}

.year-title {
    font-size: 24px;
    color:black;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}



.year-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    gap: 20px;
}

.year-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; 
    color: inherit;
}

.year-underline{
    height: 2px;
    background-color: #f39c12;
    margin-bottom: 20px; 
    
}

.year-image {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.year-name {
    font-size: 1.1rem;
    color: #000000;
    position: relative;
    padding: 10px;
    text-decoration: none; 
}

.year-name2 {
    text-decoration: none;
}

.year-name::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease, left 0.3s ease;
    text-decoration: none;
}

.year-card:hover .year-name::after {
    width: 100%;
    left: 0;
}


.parts-section {
    margin-top: 40px;
}

.parts-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.parts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    padding: 20px;
}

.part-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 16px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.part-card:hover {
    transform: scale(1.02);
}

.part-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
}

.part-card h3 {
    font-size: 18px;
    color: #222;
    margin: 10px 0 5px;
}

.part-card p {
    font-size: 14px;
    color: #555;
    margin: 4px 0;
}
