.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 80px 20px; /* По-голям отстъп за по-добро визуално пространство */
}

.about-content {
  max-width: 800px;
  text-align: center;
}

.about-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f39c12; /* Оранжево за заглавието, за да се откроява */
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.divider-about {
  height: 2px;
  width: 100px; /* По-къс разделител, центриран */
  background-color: #f39c12;
  margin: 0 auto 40px auto;
}

.about-text-p {
  font-size: 18px;
  line-height: 1.8;
  color: #ccc; /* По-светло сиво за основния текст */
  margin-bottom: 20px;
}

.get-in-touch-btn {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: transparent;
  color: #f39c12;
  border: 2px solid #f39c12;
  border-radius: 50px; /* Заоблени ъгли за модерен вид */
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.get-in-touch-btn:hover {
  background-color: #f39c12;
  color: black;
}

/* Мобилни стилове */
@media (max-width: 768px) {
  .about-container {
    padding: 50px 20px;
  }

  .about-title {
    font-size: 36px;
  }

  .about-text-p {
    font-size: 16px;
  }

  .get-in-touch-btn {
    padding: 12px 25px;
    font-size: 16px;
  }
}