.admin-orders-container {
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.admin-orders-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.no-orders-message {
    font-size: 18px;
    color: #666;
    text-align: center;
}

.orders-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
     width: 100%; 
    max-width: 600px;
}

.order-item2 {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.order-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.order-id,
.customer-name,
.customer-phone,
.order-status {
    font-size: 14px;
    margin: 2px 0;
}

.order-status {
    font-weight: bold;
    color: #ff6347;
}

.status-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    align-self: flex-start;
}

.status-button:hover {
    background-color: #45a049;
}

.view-button {
    background-color: #786ff8;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    align-self: flex-start;
    
}

 

.order-buttons {
    display: flex;
    gap: 15px; 
    margin-top: 10px;
}

.delete-button2 {
  background-color: #a72828;
  color: white;
  font-size: 13px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  
}

.delete-button2:hover {
  background-color: #886e21;
  transform: scale(1.05);
}

.delete-button2:active {
    transform: scale(0.98);
}