.change-password-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 40px 20px;
}

.profile-header-section {
  padding-top: 80px;
  width: 97%;
  margin-left: auto;
}

.profile-title {
  color: black;
  font-size: 1.5rem;
}

.divider-profile {
  height: 2px;
  background-color: #f39c12;
  margin-bottom: 20px;
  width: 97%;
  margin-left: auto;
}



.password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  margin-left: 100px;
}



.field-row {
  display: flex;
  flex-direction: column;
}

.field-row label {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.required {
  color: red;
  margin-right: 5px;
  font-size: 16px;
}

.field-row input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: 15px;
}



.buttons-row {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px;
}

.back-button {
  background-color: #f39c12;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-button:hover,
.save-password-button:hover {
  background-color: #d35400;
}

.save-password-button {
  background-color: #653cf9;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease
}