
.form-container {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
    z-index: 10; 
    border: solid #f39c12;
}


.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    backdrop-filter: blur(5px); 
    z-index: 5; 
}


h2 {
    margin-bottom: 20px; 
    display: flex;
    justify-content: center;
    color: black;
}

label {
    display: block; 
    margin-bottom: 5px; 
    color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    
    
}


.btn__register {
    background-color: #f39c12; 
    color: black;     
    border: none; 
    padding: 10px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    display: flex;
    border: solid #f39c12;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.btn__register:hover {
    background-color: #e67e22; 
}


.have__account {
    margin-top: 10px; 
}

.have__account small {
    margin-right: 5px; 
    color: black;
}

.have__account a {
    color: #3498db; 
    text-decoration: none; 
}

.have__account a:hover {
    text-decoration: underline; 
}