.parts-search-container {
    padding: 100px 400px 30px 400px;
    text-align: center;
}

.search-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left; 
    padding-right: 75%;
}



.filter-buttons {
    margin-bottom: 20px;
}

.filter-button {
    padding: 9px 75px; 
    margin: 0 25px; 
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border: solid lightgray;
}

.search-form {
    display: flex;
    margin: 20px 0 10px 30px;
    gap: 30px;
    
    
}

.form-group {
    margin: 10px 0; 
    margin-bottom: 20px; 
    
}


.search-button {
    padding:  15px;   
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
     
}

.search-button:hover {
    background-color: #218838;
}

.search-now {
    border: solid lightgray;
    border-width: 1px; 
    text-align: left; 
}

#year {
    padding: 10px;
    width: 100px;
    
}

#make {
    padding: 10px;
    width: 150px;
}

#model {
    padding: 10px;
    width: 200px;
}

.search-title-container {
    border-bottom: solid lightgray;
    border-width: 1px;
}



@media (max-width: 768px) {
    .parts-search-container {
        padding: 20px; 
    }

    .filter-button {
        padding: 9px 15px; 
    }

    .search-title {
        font-size: 20px; 
    }

    .search-form {
        flex-direction: column; 
    }

    .form-group {
        width: 100%; 
    }

    .search-button {
        width: 100%; 
        margin-top: 10px; 
    }
}