.parts-search-container {
    width: 90%;
    margin: 40px 200px;
    padding-top: 80px;
}

.header-section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 200px;
}

.title-parts-search {
    font-size: 24px;
    font-weight: bold;
    color: black;
    white-space: nowrap;
}

.divider-parts {
    height: 2px;
    background-color: #f39c12;
    margin-bottom: 20px; 
    margin-right: 200px;
    
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.search-input-container {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    align-items: center;
}



.search-input:focus {
    border-color: #f39c12;
}

.search-button {
    padding: 12px 24px;
    background-color: #2812f3;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

.search-button:hover {
    background-color: #d68910;
}