.cart-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.header-section-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 80px;
    width: 97%;
    margin-left: auto;
}

.divider-cart {
    height: 2px;
    background-color: #f39c12;
    margin-bottom: 20px;
    width: 97%;
    margin-left: auto;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 97%;
    margin-left: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.item-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
   
}

.item-details {
    flex-grow: 1;
}

.price {
    display: block;
    font-weight: bold;   
    color: #e67e22;
    min-width: 80px;
    text-align: right;
    margin-left: auto;
}

.out-of-stock {
    color: red;
}

.in-stock {
    color: green;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.quantity-control button {
    background: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.order-summary {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.checkout-btn {
    display: block;
    width: 20%;
    padding: 15px;
    background: orange;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    margin-left: auto;
    text-align: center;
}