.auto-accessories-page-container {
    max-width: 1200px; 
    margin: 80px auto; 
     padding: 0 20px 400px 20px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px; 
    margin-top: 40px;
}


@media (max-width: 600px) {
    .categories-grid {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
    .auto-accessories-page-container {
        margin-top: 20px;
        padding-bottom: 20px;
    }
}