.contact-page {
  padding: 20px;
  text-align: center;
  margin: 40px 180px;
}

.contact-info {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
}

@media (max-width: 768px) {
  .header-section3 {
    margin-right: 0 !important;
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .contact-page {
    padding: 1rem;
  }

  .contact-info {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 1rem;
  }
}
