
.category-card {
    text-align: center; 
    transition: background-color 0.3s ease;
  
}

.category-card  p { 
    text-decoration: none;  
    color: black; 
}



.brand-name {
    background-color: lightgray;
    padding: 10px;
    margin: 0 20px;
    position: relative;
}

.brand-name:hover  {
    background-color: darkgray; 
    cursor: pointer; 
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.category-card img {
    width: 70%;
    height: auto;
    object-fit: cover;
}




