.divider {
    height: 2px;
    background-color: #f39c12;
    margin-bottom: 20px;
    margin-left: 179px;
    width: 80%;
  }


  @media (max-width: 480px) {
  .divider {
    margin-left: auto;  
    margin-right: auto; 
    width: 100%;
  }         
}