.notification-card-wrapper {
 position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; 
  width: 100%; 
}

.notification-card-backdrop {
   position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;
  cursor: not-allowed;
}

.notification-card {
  position: relative;
  background: white;
  padding: 30px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  min-width: 300px;
  text-align: center;
  z-index: 1001;
}



.notification-card.error {
  border-left: 6px solid red;
}

.close-btn2 {
  margin-top: 15px;
  padding: 8px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #0056b3;
}