.container {
    width: 90%; 
    margin: 40px 200px 40px 200px;
   
    
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; 
    padding-top: 80px ;
    margin-right: 200px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}



.divider {
    height: 2px;
    background-color: #f39c12;
    margin-bottom: 20px; 
    margin-right: 200px;
}

.card-titel-product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
}

.product2 {
  border: 1px solid #c0bdbd;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  max-width: 250px;
  
}

.product2 img {
  width: 100%;
  height: 180px; 
  object-fit: cover; 
  border-radius: 6px;
}

.product-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-info-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.product-title {
  font-weight: bold;
  font-size: 1rem;
  color: #000;
  margin: 0;
}

.product-price2 {
  font-size: 1rem;
  color: #2e7d32;
  font-weight: bold;
  margin-top: 4px;
}

.product-buttons {
  display: flex;
  
}

.details-btn1,
.add-to-cart-btn1 {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
}

.details-btn1:hover,
.add-to-cart-btn1:hover {
  color: #2e7d32;
}

@media (min-width: 1200px) {
    .products-grid {
        grid-template-columns: repeat(5, 1fr); 
        gap: 30px; 
    }
}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 5px; 
    }
}


