.container {
    width: 90%; 
    margin: 40px 200px 40px 200px;
   
    
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; 
    padding-top: 80px ;
    margin-right: 200px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}



.divider {
    height: 2px;
    background-color: #f39c12;
    margin-bottom: 20px; 
    margin-right: 200px;
}

.card-titel-product{
    display: flex;
    margin-left: 15px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 50px; 
    margin-left: 80px;
    margin-top: 70px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 250px;
    height: auto;
    border: solid 888;
}

.product img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.card-titel-product {
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
}

.details-btn1,
.add-to-cart-btn1 {
    background: none;
    border: none;
    color: #888;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

.details-btn1:hover,
.add-to-cart-btn1:hover {
    color: #2e7d32;
}

.product-buttons  {
  display: flex;
  align-items: center;
  gap: 4px;
}



@media (min-width: 1200px) {
    .products-grid {
        grid-template-columns: repeat(5, 1fr); 
        gap: 30px; 
    }
}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 5px; 
    }
}


