.accessories-page {
  padding: 20px;
  text-align: center;
  margin: 40px 180px;
}



.accessory-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}




.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
  color: inherit;
}

.category:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.category img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.category-name {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .accessory-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    justify-content: center;
  }

  .category {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
  }

  .category img {
    width: 100%;
    height: auto;
  }


 
}
