@import "../../Card/section-header.css";
@import "../../Card/accessory-category-card.css";

.accessories-page {
  padding: 20px;
  text-align: center;
  margin: 40px auto;
  max-width: 1200px;
  
}

.accessory-categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 10px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .accessory-categories-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px 0;
  }
}