.accessories-page {
  padding: 20px;
  text-align: center;
  margin: 40px 180px;
}




.accessory-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  max-height: 240px;
  max-width: 140px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.accessory-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.part-image2 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 3px;
}

.acc-title {
  display: flex;
  font-size: 13px;
  font-weight: 300;
  color: #000000;
  margin: 2px 0;
  align-self: flex-start;
  margin-left: 4px;
  margin-top: 10px;
  text-decoration: none;
}

.price-accessories {
  color: #f39c12;
  margin-top: 10px;
  padding: 1px;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: flex-start;
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Zilla Slab", Roboto, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.no-accessories {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
}

.pagination-container {
  margin-top: 20px;
}

.pagination .MuiPaginationItem-root {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}

.pagination .MuiPaginationItem-root.Mui-selected {
  background-color: #f39c12;
  color: #fff;
  border-color: #ccc;
}





.pagination .MuiPaginationItem-root:hover {
  background-color: #ddd;
}

.pagination .MuiPagination-ul > li:first-child,
.pagination .MuiPagination-ul > li:last-child {
  display: none;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-box {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    max-width: 300px;
    text-align: center;
}

.popup-button {
    margin-top: 15px;
    padding: 8px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #0056b3;
}
  


@media (max-width: 1200px) {
  .accessory-list {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media (max-width: 900px) {
  .accessory-list {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 600px) {
  .accessory-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}