.accessories-page {
  padding: 20px;
}

.header-section-acc h1 {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.accessory-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 5px; 
  justify-items: center; 
  padding: 20px;
  margin-left: 100px;
}

.accessory-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  max-height: 240px;
  max-width: 140px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.accessory-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.part-image2 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 3px;
}

.acc-title {
  display: flex;
  font-size: 13px;
  font-weight: 300;
  color: #000000;
  margin: 2px 0;
  align-self: flex-start;
  margin-left: 4px;
  margin-top: 10px;
  text-decoration: none;
}

.price-accessories {
  color: #f39c12;
  margin-top: 10px;
  padding: 1px;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: flex-start;
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Zilla Slab", Roboto, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.no-accessories {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
}

.pagination-container {
  margin-top: 20px;
}

.pagination .MuiPaginationItem-root {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}

.pagination .MuiPaginationItem-root.Mui-selected {
  background-color: #333;
  color: #fff;
  border-color: #666;
}

.pagination .MuiPaginationItem-root:hover {
  background-color: #ddd;
}

@media (max-width: 1200px) {
  .accessory-list {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media (max-width: 900px) {
  .accessory-list {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 600px) {
  .accessory-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}