.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f39c12; 
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 999;
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #388e3c; 
}



.cookie-icon {
  position: fixed;
  bottom: 85px;
  left: 22px;
  font-size: 24px;       
  color: white;          
  background-color: #f39c12; 
  padding: 10px;          
  border-radius: 50px;    
  cursor: default;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
}

.cookie-icon:hover {
    background-color: #388e3c; 
}