.user-profile-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 20px;
}

.profile-header-section {
    display: flex;
    align-items: center;
    padding-top: 80px;
    width: 97%;
    margin-left: auto;
}

.divider-profile {
    height: 2px;
    background-color: #f39c12;
    margin-bottom: 20px;
    width: 97%;
    margin-left: auto;
}

.profile-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 80px;
}

.profile-links button {
    background-color: #f39c12;
    border: none;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile-links button:hover {
    background-color: #d35400;
}

.logout-button {
    background-color: red;
}

.profile-title {
    color: black;
    font-size: 1.5rem;
}