.container-brand {
  width: 90%;
  margin: 40px 200px 40px 200px;
}

.header-section-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 80px;
  margin-right: 200px;
}

.divider-brand {
  height: 2px;
  background-color: #f39c12;
  margin-bottom: 20px;
  margin-right: 200px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-right: 180px;
  padding: 20px;
}

.title-brand {
  color: black;
}

@media (max-width: 768px) {
  .container-brand {
    margin: 40px 10px;
    width: auto;
  }

  .header-section-brand {
    display: flex;
    justify-content: center;
    padding-top: 10px; 
    margin-right: 0;
  }

  .title-brand {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 10px;
  }

  .divider-brand {
    width: 100%;
    margin: 0 0 20px 0;
    background-color: #f39c12;
    height: 2px;
  }

  .categories-grid {
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    width: 100%;
  }
}
