@import '../../Card/section-header.css';

.container-brand {
  padding: 20px;
  text-align: center;
  margin: 40px auto;
  max-width: 1200px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

