.container {
    width: 90%; 
    margin: 40px 200px 40px 200px;
   
    
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; 
    padding-top: 80px ;
    margin-right: 200px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.btn-all-categories {
    background-color: white;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    border: solid #f39c12
}

.btn-all-categories:hover {
   background-color: #f39c12;
}

.divider-brand {
    height: 2px;
    background-color: #f39c12;
    margin-bottom: 20px; 
    margin-right: 200px;
}


.categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ; 
    grid-gap: 10px;
    margin-right: 180px;
}


.category-one, .category-two {
    grid-column: auto;
    grid-row: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-three, .category-four {
    grid-column: auto;
    grid-row: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-five, .category-six {
    grid-column: auto;
    grid-row: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.category-one img, 
.category-two img, 
.category-three img, 
.category-four img, 
.category-five img,
.category-six img {
    width: 45%;
    height: auto;
    object-fit: cover;
    display: flex;
    
}

.category-one p,
.category-two p,
.category-three p, 
.category-four p,
.category-five p,
.category-six  p {
    
    font-weight: bold;
    justify-content: center;
    display: flex;
}


