@import '../../Card/section-header.css';


.favorites-page {
  padding: 20px;
  text-align: center;
  margin: 40px auto;
  max-width: 1200px;
}

.favorites-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: black;
}

.no-favorites {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}

.favorites-grid {
  display: grid;
  max-width: 1000px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}


.favorite-item-card {
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.favorite-item-card:hover {
  transform: translateY(-4px);
}


.favorite-item-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.favorite-item-image {
  width: 200px;
  height: 150px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 1rem;
}


.favorite-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.favorite-item-title {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: #333;
}


.favorite-price-and-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}


.favorite-item-price {
  color: #444;
  font-weight: bold;
}


.favorite-icon-group {
  display: flex;
  gap: 10px;
}


.heart-icon,
.cart-icon {
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.2s ease-in-out;
}

.heart-icon {
  color: #e74c3c;
}

.heart-icon:hover {
  color: #c0392b;
}

.cart-icon {
  color: #3498db;
}

.cart-icon:hover {
  color: #2980b9;
}