.page-content {
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    position: relative; 
    background-size: cover;
    background-position: center;
}

.image-container {
    width: 100%; 
    position: relative; 
}

.img {
    width: 100%;
    height: auto; 
}

.search-container {
    position: absolute; 
    left: 200px; 
    top: 50%; /* Center vertically */
    transform: translateY(-60%); 
    color: white; /* Text color */
    
}

.search-btn {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.shop-text {
    font-size: 24px; /* Larger size for "SHOP" */
    font-weight: bold; /* Optional: Makes it stand out more */
    margin: 10px 0; /* Adds some space around the "SHOP" text */
}

.search-text {
    font-size: 18px; /* Size for "Find what you need" */
    margin: 0; /* Ensures no extra margin */
    
}