.navbar {
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1000;
}


.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 170px;
}


.logo {
    height: 80px; 
    margin-left: 160px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li a {
    text-decoration: none;
    color: wheat;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: yellow; 
}


.btn {
    display: flex;
    gap: 10px;
    margin-left: auto; 
}


.user, .ShoppingCart {
    background-color: black;
    color: white;
    border-radius: 50%;
    border: 1px solid #f39c12;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.user:hover, .ShoppingCart:hover {
    background-color: #f39c12;
    transform: scale(1.1);
}


/* css за количката с продукти */
.cart-dropdown {
    position: absolute;
    right: 10px;
    top: 60px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    margin-top: 15px;
    margin-right: 170px;
    
}

.cart-dropdown.show {
    opacity: 1; 
    transform: translateY(0); 
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item-img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 10px;
}

.cart-item-info {
    flex: 1;
}

.remove-item {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 18px;
}

.remove-item:hover {
    color: darkred;
}